<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Twenty</title>
</head>

<body>
    <header class="topbar">
        <div class="container">
            <div class="logo">
                <span id="logoToggle"><a href="../../index.html">TWENTYCENTRAL</a></span>
            </div>
            <p>Already have an account? <a href="../login.html">Log in</a></p>
        </div>
    </header>
    <main class="signup-two">
        <section class="feed">
            <div class="feed-header">
                <span>STEP 2 OF 2</span>
                <h2>Personalize your feed</h2>
                <p class="step-next">Next:<br>Start Exploring</p>
                <hr class="red-line">
            </div>
        </section>

        <section class="leagues">
            <h3>Popular Leagues</h3>
            <div class="leagues-grid">
                <label class="league-card">
                    <input type="checkbox" name="popular">
                    <div class="card-league">
                        <img src="/resources/img/">
                        <div class="league-info">
                            <strong>Premier League</strong>
                            <small>Soccer</small>
                        </div>
                    </div>
                </label>
                <label class="league-card">
                    <input type="checkbox" name="popular">
                    <div class="card-league">
                        <img src="/resources/img/">
                        <div class="league-info">
                            <strong>NBA</strong>
                            <small>Basketball</small>
                        </div>
                    </div>
                </label>
                <label class="league-card">
                    <input type="checkbox" name="popular">
                    <div class="card-league"">
                        <img src=" /resources/img/">
                        <div class="league-info">
                            <strong>NFL</strong>
                            <small>Football</small>
                        </div>
                    </div>
                </label>
                <label class="league-card">
                    <input type="checkbox" name="popular">
                    <div class="card-league">
                        <img src="/resources/img/">
                        <div class="league-info">
                            <strong>Formula 1</strong>
                            <small>Racing</small>
                        </div>
                    </div>
                </label>
            </div>
        </section>

        <section class="teams">
            <h3>Trending Teams</h3>
            <div class="teams-grid">
                <label class="team-card">
                    <input type="checkbox" name="popuar">
                    <div class="card-team">
                        <img src="/resources/img/">
                        <div class="team-info">
                            <strong>Chelsea</strong>
                            <small>Premier League</small>
                        </div>
                </label>
                <label class="team-card">
                    <input type="checkbox" name="popuar">
                    <div class="card-team">
                        <img src="/resources/img/">
                        <div class="team-info">
                            <strong>Manchester City</strong>
                            <small>Premier League</small>
                        </div>
                </label>
                <label class="team-card">
                    <input type="checkbox" name="popuar">
                    <div class="card-team">
                        <img src="/resources/img/">
                        <div class="team-info">
                            <strong>Ny Giants</strong>
                            <small>NFL</small>
                        </div>
                </label>
                <label class="team-card">
                    <input type="checkbox" name="popuar">
                    <div class="card-team">
                        <img src="/resources/img/">
                        <div class="team-info">
                            <strong>Raptors</strong>
                            <small>NBA</small>
                        </div>
                </label>
                <label class="team-card">
                    <input type="checkbox" name="popuar">
                    <div class="card-team">
                        <img src="/resources/img/">
                        <div class="team-info">
                            <strong>Warriors</strong>
                            <small>NBA</small>
                        </div>
                </label>
                <label class="team-card">
                    <input type="checkbox" name="popuar">
                    <div class="card-team">
                        <img src="../../../resources/img/">
                        <div class="team-info">
                            <strong>49ers</strong>
                            <small>NFL</small>
                        </div>
                </label>
        </section>
        <aside class="suggestions-sidebar">
            <div class="sidebar-header">
                <h3>Suggested for you</h3>
                <button class="text-bth">Refresh</button>
            </div>
            <ul class="suggestions-list">
                <li class="suggestion-item">
                    <img src="/resources/img/">
                    <div class="item-info">
                        <strong>Arsenal</strong>
                        <small>Premier League</small>
                    </div>
                    <button class="add-btn">+</button>
                </li>
                <li class="suggestion-item">
                    <img src="/resources/img/">
                    <div class="item-info">
                        <strong>Buffallo Bills</strong>
                        <small>NFL</small>
                    </div>
                    <button class="add-btn">+</button>
                </li>
                <li class="suggestion-item">
                    <img src="/resources/img/">
                    <div class="item-info">
                        <strong>LA Clippers</strong>
                        <small>NBA</small>
                    </div>
                    <button class="add-btn">+</button>
                </li>
            </ul>

            <div class="info-box">
                <span class="info-icon">ⓘ</span>
                <p>We use your selections to customize your home feed and notifications. You can always change this
                    later in settings.</p>
            </div>
        </aside>
    </main>
    <footer class="setup-footer">
        <button class="txt-btn"><a href="signup-step1.html">Back</a></button>
        <button class="txt-btn"><a>Finish Setup &rarr;</a><button>
    </footer>
</body>

</html>